<div class="row">
	<%= form_for @doctor do |f| %>
		<div class="col s6">
		<%= f.label :name %>
		<%= f.text_field :name, required: true %>
		</div>
		<div class="col s6">
		<%= f.label :specialty %>
		<%= f.text_field :specialty, required: true %>
		</div>
		<div class="col s12 center">
		<%= f.submit nil, class: 'btn blue darken-2' %>
		</div>
	<% end %>
</div>
<br><br>